<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   

</head>
<body>
    <h1 style = "background-color: black; color:aliceblue; text-align: center;"> Welcome to gitPub</h1>
    <h3>Lets party!! Choose your drink from the menu</h3>
    <ul>
        <% for(let i=0; i<drinks.length; i++){%>
            <a href="/drinks/<%= i %>"><li><%=drinks[i].name.charAt(0).toUpperCase()+ drinks[i].name.slice(1) %></li></a>
        <%}%>
    </ul>


     
</body>
</html>